<footer
    class="fixed bottom-0 left-0 z-20 w-full border-t shadow-sm md:flex md:items-center md:justify-between md:p-3 bg-zinc-900 border-zinc-600"
>
    <span class="text-xs sm:text-center text-gray-400"
        <a href="#" class="hover:underline">florianfelix</a>
    </span>
    <ul
        class="flex flex-wrap items-center mt-3 text-xs font-medium text-gray-400 sm:mt-0"
    >
        <!-- <li>
            <a href="#" class="hover:underline me-4 md:me-6">About</a>
        </li> -->
        <li>
            <a href="impressum" class="hover:underline me-4 md:me-6">Impressum</a>
        </li>
        <!-- <li>
            <a href="#" class="hover:underline">Contact</a>
        </li> -->
    </ul>
</footer>
