<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>florianfelix</title>
        <link rel="stylesheet" href="{{ get_url(path="styles/style.css") | safe }}" />
    </head>
    <body>
        <div>
            <ul class="bg-cyan-950 text-white">
                <li>first</li>
                <li>second</li>
                <li>third</li>
                <li>fourth</li>
            </ul>
        </div>
    </body>
</html>
